.OrderSummary{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #7e57c2;
    margin-top: 3em
    
}


.generalInfo, .decedentInfo{
    width: 50%;
    border: 1px solid #7e57c2;
}

.itemInfo{

}


ul{
    padding: 0
}
li{
    list-style-type: none;  
}